.sellerInfo-time .sellerName,
.sellerInfo-location .sellerName {
    width: 15px;
    height: 25px;
}

.seller-names {
    padding: 10px 15px;
    margin-left: 0px;
    /* width: 100%; */
}

.spacification-div .spec {
    font-size: 14px;
    color: #838080;
    font-weight: 300;
}

.spacification-div .spec-des {
    color: #111;
    font-weight: 400;
}

.spec-ul li {
    padding: 7px 0px 3px;
    border-bottom: 1px solid #edecec;
}
.spec-ul .icon-saleme{
   font-size: 22px;
}
.spec-title{
    margin: 13px 0px 13px 8px;
    font-size: 20px;
    font-weight: 500;
}
.feature-title{
    margin: 13px 0px 13px 8px;
    font-size: 20px;
    font-weight: 500;
}
.spacification-div {
    border-top: 3px solid #33414e;
    margin-top: 22px;
}

.feature-div {
    border-top: 3px solid #33414e;
    margin-top: 30px;
    padding-bottom: 10px;
}

.description-div p {
    padding: 0px 15px;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    text-align: justify;
    line-height: 1.7;
}

.description-div {
    border-top: 3px solid #33414e;
    margin-top: 15px;
    padding-bottom: 10px;
}

.feature-ul .ion-ios-checkmark {
    font-size: 14px;
    color: #388E3C;
}

.feature-ul li {
    width: 25%;
    float: left;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
}

.squre-div {
    /*margin-bottom: 30px;*/
    margin-top: 30px;
}

.pricetag {
    margin: 0px 5px 3px 17px;
    white-space: nowrap;
    position: relative;
    displaY: inline-block;
    font-size: 2em;
    border-radius: 0 4px 4px 0;
    padding: 12px 12px 12px 14px;
    background: #000000;
    color: #fff;
    line-height: 23px;
    font-weight: 500;
}
.box-shadow{
    box-shadow: 0 0 13px 0px #e1e1e1;
}


