/* Gallery */
.gallery {
    float: left;
    width: 100%;
}
.gallery .gallery-item {
    float: left;
    /*width: 33%;*/
    /*padding: 10px 5px 10px 5px;*/
    text-decoration: none;
}
.gallery .gallery-item .image {
    width: 50%;
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.user-veri-txt {
    color: #9e9c9c;
    font-weight: 100;
}
.verified {
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: 5px;
    color: #00be40;
}
.pricetag {
    margin: -14px 5px 1px 32px;
    white-space: nowrap;
    position: relative;
    displaY: inline-block;
    font-size: 0.8em;
    border-radius: 0 4px 4px 0;
    padding: 5px 11px 6px 13px;
    background: #000000;
    color: #fff;
    line-height: 23px;
}
.pricetag:before {
    position: absolute;
    content: "\25CF";
    color: white;
    text-shadow: 0 0 1px #333;
    font-size: 11px;
    line-height: 0px;
    text-indent: 12px;
    left: -18px;
    top: 0px;
    width: 1px;
    height: 0px;
    border-right: 18px solid #000000;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
}
.review-btns{
    margin-top: 6px;
    margin-right: 20px;
}
.currency {
    color: #fea502;
}
.custom-fieldset {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 30px;
}
.custom-fieldset legend {
    margin-bottom: 0;
    border-bottom: 0;
    width: auto;
    padding: 0 10px;
    font-weight: 600;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}
.ico {
    font-size: 22px;
    color: #fea502;
    position: absolute;
    margin-top: -4px;
}
.user-dtl{
    margin-bottom: -31px;
    color: #fff !important;
    background: #33414e !important;
    font-size: 17px !important;
}
.minimize {
    font-family: 'Raleway', sans-serif;
    color: #3c3c3c;
    font-size: 1.2em;
    line-height: 1.8;
}
.usr-details {
    padding-left: 5px;
}
ul.car-details-list {
    margin: 0;
    padding: 0;
}
ul.car-details-list li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    color: #9e9393;
}
.details-left-lbl {
    width: 55%;
}
.details-right-lbl {
    width: 45%;
    text-align: left !important;
}
ul.car-details-list li .details-right-lbl {
    font-family: 'Khula', sans-serif;
    color: #3c3c3c;
    font-weight: 600;
    font-size: 12px;
}

ul.devider-list {
    list-style-type: none;
    margin: -11px 0 0 0;
    padding: 0;
    color: #7f7f7f;
    font-weight: 500;
    font-size: 0.9em;
}
ul.devider-list>li {
    display: inline-block;
}
ul.devider-list>li::after {
    font-size: 19px;
    content: "|";
    position: relative;
    margin: 0 5px;
    color: #d5d5d5;
}

.gallery .gallery-item .image a {
    display: block;
}
.gallery .gallery-item .image:after,
.gallery .gallery-item .image:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
}
.gallery .gallery-item .image:before {
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.gallery .gallery-item .image:hover:before {
    background: rgba(0, 0, 0, 0.3);
}
.gallery .gallery-item .image img {
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.gallery .gallery-item .image .gallery-item-controls {
    position: absolute;
    right: -30px;
    top: 3px;
    display: block;
    list-style: none;
    padding: 0px;
    z-index: 2;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.gallery .gallery-item .image .gallery-item-controls li {
    float: left;
    list-style: none;
    background: #FFF;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
}
.gallery .gallery-item .image .gallery-item-controls li .check {
    margin: 4px 0px;
}
.gallery .gallery-item .image .gallery-item-controls li .icheckbox_minimal-grey {
    margin-right: 0px;
}
.gallery .gallery-item .image .gallery-item-controls li a,
.gallery .gallery-item .image .gallery-item-controls li span {
    font-size: 17px;
    color: #BBB;
}
.gallery .gallery-item .image .gallery-item-controls li a:hover,
.gallery .gallery-item .image .gallery-item-controls li span:hover {
    color: #656d78;
}
.gallery .gallery-item .image .gallery-item-controls li:first-child {
    -moz-border-radius: 0px 0px 0px 3px;
    -webkit-border-radius: 0px 0px 0px 3px;
    border-radius: 0px 0px 0px 3px;
}
.gallery .gallery-item .image .gallery-item-controls li:hover {
    background: #F5F5F5;
}
.gallery .gallery-item .meta {
    color: #656d78;
    margin-top: 5px;
    line-height: 16px;
    padding: 0px 5px;
}
.gallery .gallery-item .meta strong {
    display: block;
    font-weight: 600;
    font-size: 13px;
}
.gallery .gallery-item .meta span {
    display: block;
    color: #99a0aa;
}
.gallery .gallery-item:hover .image .gallery-item-controls {
    right: 3px;
}
.gallery .gallery-item.active .image {
    -moz-box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
    box-shadow: 0px 0px 6px 0px rgba(51, 65, 78, 0.8);
}
.gallery .gallery-item.active .image .gallery-item-controls {
    right: 3px;
}
/* end Gallery */