/* devanagari */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 300;
  src: local('Khula Light'), local('Khula-Light'), url(https://fonts.gstatic.com/s/khula/v2/lnxAQQHUw6vHJulAx1RseBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 300;
  src: local('Khula Light'), local('Khula-Light'), url(https://fonts.gstatic.com/s/khula/v2/XlrUUeBwOkvgBrUmmOxvCRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 300;
  src: local('Khula Light'), local('Khula-Light'), url(https://fonts.gstatic.com/s/khula/v2/-xx0uPo3wDx608yKBDdcBfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* devanagari */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(https://fonts.gstatic.com/s/khula/v2/iyGlQHKuqcmGE28QUW6Rbg.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(https://fonts.gstatic.com/s/khula/v2/rqKgtQguZSGVDNd351zyCQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(https://fonts.gstatic.com/s/khula/v2/SYvd5I-BTu9JPZJQxkiU_w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* devanagari */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 600;
  src: local('Khula SemiBold'), local('Khula-SemiBold'), url(https://fonts.gstatic.com/s/khula/v2/YfwKJQaG9Ir_TD-H3Jk2ExTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 600;
  src: local('Khula SemiBold'), local('Khula-SemiBold'), url(https://fonts.gstatic.com/s/khula/v2/Tw-OSkA0YwtnSMUU2_qpWRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 600;
  src: local('Khula SemiBold'), local('Khula-SemiBold'), url(https://fonts.gstatic.com/s/khula/v2/F0tebCSmtCPkQ0twFXDsMPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
